body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("/images/home.jpg");
    background-position: 0px -370px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.hp-search {
    display: flex; 
    flex-direction: row;
}

.hp-search > .control {
    flex-grow: 1;
}